<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%%= content_for?(:title) ? "#{app_name} - #{yield(:title)}" : "<%= app_name %>" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <%%= csrf_meta_tags %>
    <%%= stylesheet "application", :media => "all" %>
    <%%= yield(:stylesheet) %>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <%- if layout_type == "fluid" -%>
          <div class="container-fluid">
        <%- else -%>
          <div class="container">
        <%- end -%>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%%= link_to(app_name, root_path, :class => "brand") %>
          <%%= render 'layouts/user_dropdown' %>
          <%%= render 'layouts/navbar' %>
        </div>
      </div>
    </div>

  <%- if layout_type == "fluid" -%>
    <div class="container-fluid">
  <%- else -%>
    <div class="container">
  <%- end -%>
    <%- if layout_type == "fluid" -%>
      <div class="row-fluid">
    <%- else -%>
      <div class="row">
    <%- end -%>
        <div class="span3">
          <%%= render 'layouts/sidebar' %>
        </div><!--/span-->

        <div class="span9">
          <%%= display_flash_message %>
          <div class="page-header">
            <%%= content_tag :h1, yield(:title) if show_title %>
          </div>
          <%%= yield %>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p><%%= app_name %> &copy;  <%= Time.now.year %></p>
      </footer>

    </div><!--/.fluid-container-->
    
    <%%= javascript_include_tag "application" %>
    <%%= yield(:javascript) %>
  </body>
</html>