<%% title("Usuários") %>

<div id="new_box">
	<%%= link_to 'Novo Usuário', new_admin_user_url, :class=>'new' %>
</div>	

<table cellspacing="1" cellpadding="2">
  <tr>

    <th>Usuário</th>

    <th>E-mail</th>

    <th></th>
    <th></th>
  </tr>
  <%%- @users.each do |user|%>
    <tr>

      <td width="46%"><%%=h user.username %></td>

      <td width="46%"><%%=h user.email %></td>
    
      <td width="8%"><%%=link_to 'Editar', edit_admin_user_url(user), :class=>'edit' %></td>
      <%% if (user.username == 'admin') %>
      	<td width="8%"><%%=link_to 'Excluir', "#delete", :class=>'delete', :onclick => "alert('Não é possível excluir o usuário Admin.');"  %></td>
      <%% else %>
      	<td width="8%"><%%=link_to 'Excluir', admin_user_url(user), :class=>'delete', :confirm => 'Tem certeza que deseja excluir?', :method => :delete %></td>
      <%% end %>
    </tr>
  <% end %>
</table>
<%%= will_paginate @users, :prev_label=>'&laquo; Anterior', :next_label=>'Próximo &raquo;' %>
