<%% title "Autenticação" %>

<%- if options[:authlogic] -%>

<%% form_for @<%= session_singular_name %> do |f| %>
  <%%= f.error_messages %>
  <p>
    <%%= f.label :username %><br />
    <%%= f.text_field :username %>
  </p>
  <p>
    <%%= f.label :password %><br />
    <%%= f.password_field :password %>
  </p>
  <p><%%= f.submit "Log in" %></p>
<%% end %>

<%- else -%>

<%% form_tag <%= session_plural_name %>_path do %>
<table cellspacing="1" cellpadding="2" align="center" style="padding-top:20px;padding-bottom:20px;">	
	<tr>
		<td align="right"><%%= label_tag :login, "Usuário ou E-mail:" %></td>
		<td><%%= text_field_tag :login, params[:login] %></td>
	</tr>
	<tr>
		<td align="right"><%%= label_tag :password, "Senha:" %></td>	
		<td><%%= password_field_tag :password %></td>
	</tr>
</table>	
  <div id="control_box">
  	<%%= submit_tag "Acessar" %>
  </div>
<%% end %>

<%- end -%>
