<%% if resource.errors.any? %>
  <div class="flash_messages error_explanation">
    <h2>Não foi possível gravar: <%%= pluralize(resource.errors.count, "erro") %></h2>

    <ul>
      <%% resource.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
    </ul>
  </div>
<%% end %>