<%% title "Novo <%= user_singular_name.titleize  %>" %>

<%%= form_for([:admin, @<%= user_singular_name %>]) do |f| %>
  <%%= render "shared/error_messages", :resource => @<%= user_singular_name %> %>
  <div class="field">
    <%%= f.label :username %><br />
    <%%= f.text_field :username %>
  </div>
  <div class="field">
    <%%= f.label :email %><br />
    <%%= f.text_field :email %>
  </div>  
  <div class="field">
    <%%= f.label :password %><br />
    <%%= f.password_field :password %>
  </div>   
  <div class="field">
    <%%= f.label :password_confirmation %><br />
    <%%= f.password_field :password_confirmation %>
  </div>   
  <div id="control_box">
    <%%= f.submit "Salvar", :class => "button medium blue" %> | <%%= link_to("Cancelar", admin_<%= user_plural_name %>_path, :class => "button medium red") %>
  </div>
<%% end %>