<%% title("Admin::Home") %>
<h1>Primeiros passos</h1>
<ul>
	<li>
		<h2>Edite este layout em app/views/layouts/application.html.erb</h2>
		<p>Crie seu layout, menus e altere o logo e estilos.</p>
	</li>
	<li>
		<h2>Edite esta página em app/views/home/admin/index.html.erb</h2>
		<p>Crie sua página administrativa.</p>
	</li>
	<li>
		<h2>Gere seu scaffold</h2>
		<p>ruby script/generate flexi_scaffold Post title:string body:text</p>
	</li>	
</ul>
