<%% title("Home#index") %>
<h1>Primeiros passos</h1>
<ul>
	<li>
		<h2>Edite este layout em app/views/layouts/site.html.erb</h2>
		<p>Crie seu layout, altere o logo e estilos.</p>
	</li>
	<li>
		<h2>Edite esta p치gina em app/views/home/index.html.erb</h2>
		<p>Crie sua p치gina inicial.</p>
	</li>
	<li>
		<h2>Acesse a 치rea administrativa <%%= link_to 'aqui', login_path %></h2>
		<p>Usu치rio: admin</p>
		<p>Senha: admin123</p>
	</li>
</ul>
