<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%%= "Página inicial - #{h(yield(:title))}" %></title>
    <%%= stylesheet_link_tag 'site' %>
    <%%= yield(:head) %>
  </head>
  <body>
  	<div id="header">
  		<%%= link_to image_tag("logo.png"), root_path %>
  	</div>
	<div id="container">
		<%%- flash.each do |name, msg| -%>
		   	<%%= content_tag :div, msg, :id => "flash_#{name}" %>
		  <%%- end -%>    
		  
		<%%= yield %>
	</div>
  </body>
</html>
