<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%%= "Área administrativa - #{h(yield(:title))}" %></title>
    <%%= stylesheet_link_tag 'application' %>
    <%%= yield(:head) %>
  </head>
  <body>
  <div id="top_nav">
  	 <%% if logged_in? %>
       <%%= current_user.username %> | <%%= current_user.email %> | <%%= link_to "&raquo; Sair", logout_path, :class => 'logout' %>
      <%% else %>
        <%%= link_to "&raquo; Entrar", login_path, :class => 'login' %>
      <%% end %>
	</div>        	
  	<div id="header">
  		<%%= link_to image_tag("logo.png"), admin_home_url %>
  	</div>
	<div id="container">
		<div id="sidenav">
			<%% menu do |m| %>
			  <%% m.users admin_users_path do %>
			  	<%%= image_tag 'users.png'  %> Usuários
			  <%% end %>	
			  <%%= m.menu1 'Menu1', "#menu" %>
			  <%%= m.menu2 'Menu2', "#menu" %>
			  <%%= m.menu3 'Menu3', "#menu" %>
			  <%%= m.menu4 'Menu4', "#menu" %>
			<%% end %>			
  		</div>  		
  		<div id="main">	      
	      <%%- if show_title? -%>
	      	<div id="title_box">
	        	<h2><%%=h yield(:title) %></h2>
			</div>     
	      <%%- end -%>
	      <%%- flash.each do |name, msg| -%>
		   	<%%= content_tag :div, msg, :id => "flash_#{name}" %>
		  <%%- end -%>   
	      
	      <%%= yield %>
	     </div>
	</div>
  </body>
</html>
