/** { padding: 2px; margin: 2px; }*/
a {text-decoration: none;}
a:hover {text-decoration: underline;}

body {
  background-color: #E6E6E6;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  color: #333333;
  background-image:url(../images/bg.png); 
  background-repeat:repeat-x;
}

div#top_nav{ 
	text-align: right; 
	width: 835px; 
	margin: 0 auto; 
	border-bottom:1px solid #E5E5E5;
	margin-bottom: 10px;
}
.logout{ color:#D30000; font-weight:bold;}
.login{ font-weight:bold; }

div#header{ width: 800px; margin: 0 auto; }

div#control_box {
	background-color:#F3F3F3;
	border:1px solid #E5E5E5;
	padding:1px;
	text-align:center;
}

div#title_box {
	background-color:#F3F3F3;
	border:1px solid #E5E5E5;
	padding:1px;
	text-align:center;
}

div#new_box { padding:15px 5px 5px 5px; }

.edit{color:#C5A059;}
.delete{color:#A02B2B;}
.new{
    background: url(../images/add.png) no-repeat; 
    text-align: center; 
    font-size: 14px;
    font-weight: bold;
    padding-left: 17px;
    color: #55A34A
} 

.pagination{ margin-top: 15px; text-align: center; }

label { font-weight:bold;}

h1, h2 { padding:2px; margin:2px; }

a img { border: none; }

a { color: #0000FF; }

.clear { clear: both; height: 0; overflow: hidden; }

#sidenav {
  width: 156px;
  float:left;
  background-color: #F3F3F3;
  padding: 0px 0px 0px 0px;
  font-size: 14px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}
#sidenav ul { 
	list-style-type:none; 
	list-style-position:outside; 
	list-style-image: none;
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px; 
}

#sidenav li { }
#sidenav li a { 
	width: 156px; 
	display:block;
	width:93%; 
	height: 100%;
	line-height: 25px;
	border-bottom: 1px solid #DDDDDD;
	padding-left: 10px;
	color: #4E5660;
}
#sidenav li a:hover { background: #FDFCF6; }
#sidenav li.current a {background: #F0F7FA; color: #000; }

#main{
  width: 633px;
  float:right; 
  padding: 0 ;
  margin:0;
}
#main table { width: 100%; }
#main table th { background-color: #F3F3F3 }
#main table tr td { border-bottom: 1px solid #DDDDDD; }
#main table tr:hover td { background: #FDFCF6 none repeat scroll 0 0; }

#container {
  width: 800px;
  overflow: auto;
  margin: 0 auto;
  background-color: #FFF;
  margin-top: 10px;	
  padding: 10px;
  border: solid 5px #E4E2E2;
}

#flash_notice, #flash_error { 
	padding: 10px ; 
	margin: 10px 0 0 0;
	font-weight: bold;
	text-align: center;
 }
#flash_notice {
	background-color: #CFC; 
	border: solid 1px #6C6; 
	color: #1E5F1D;
}
#flash_error { 
	background-color: #FCC; 
	border: solid 1px #C66; 
	color:#9E0B0F;
}

.fieldWithErrors { display: inline; }

#errorExplanation { background-color: #FCC; border: solid 1px #C66; }