/* Basic  ---------------------------------------- */
a {text-decoration: none;}
a:hover {text-decoration: underline;}
body {
  background-color: #E6E6E6;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  color: #333333;
  background-image:url(../images/bg.png); 
  background-repeat:repeat-x;
}
input[type=text]{ border:1px solid #CCCCCC; }
input[type=password] { border:1px solid #CCCCCC; }
select{ border:1px solid #CCCCCC;}
textarea{ border:1px solid #CCCCCC; }
.logout{ color:#D30000; font-weight:bold;}
.login { font-weight:bold; }
.view{color: #55a34a;}
.back{color: #0085CF;}
.edit{color:#C5A059;}
.delete{color:#A02B2B;}
.new{
    background: url(../images/add.png) no-repeat; 
    text-align: center; 
    font-size: 14px;
    font-weight: bold;
    padding-left: 17px;
    color: #55A34A
} 
.pagination{ margin-top: 15px; text-align: center; }
label { font-weight:bold;}
h1, h2 { padding:2px; margin:2px; }
a img { border: none; }
a { color: #0000FF; }
.clear { clear: both; height: 0; overflow: hidden; }
div#control_box {
	background-color:#F3F3F3;
	border:1px solid #E5E5E5;
	padding:1px;
	text-align:center;
}
div#title_box {
	background-color:#F3F3F3;
	border:1px solid #E5E5E5;
	padding:1px;
	text-align:center;
}
div#new_box { padding:15px 5px 5px 5px; }

/* Navigation  ---------------------------------------- */
#sidenav {
  width: 156px;
  float:left;
  background-color: #F3F3F3;
  padding: 0px 0px 0px 0px;
  font-size: 14px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}
#sidenav ul { 
	list-style-type:none; 
	list-style-position:outside; 
	list-style-image: none;
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px; 
}
#sidenav li { }
#sidenav li a { 
	width: 156px; 
	display:block;
	width:93%; 
	height: 100%;
	line-height: 25px;
	border-bottom: 1px solid #DDDDDD;
	padding-left: 10px;
	color: #4E5660;
}
#sidenav li a:hover { background: #FFFADF; }
#sidenav li.current a {background: #DFF6FF; color: #000; }

div#top_nav{ 
	text-align: right; 
	width: 920px; 
	margin: 0 auto; 
	border-bottom:1px solid #E5E5E5;
	margin-bottom: 10px;
}

/* Content  ---------------------------------------- */
div#header{ width: 920px; margin: 0 auto; }
#container {
  width: 900px;
  overflow: auto;
  margin: 0 auto;
  background-color: #FFF;
  margin-top: 10px;	
  padding: 10px;
  border: solid 5px #E4E2E2;
}

#main{
  width: 733px;
  float:right; 
  padding: 0 ;
  margin:0;
}

#main table { width: 100%; }
#main table th { background-color: #F3F3F3 }
#main table tr td { border-bottom: 1px solid #DDDDDD; }
#main table tr:hover td { background: #FFFADF none repeat scroll 0 0; }

/* Notices  ---------------------------------------- */
#flash_notice, #flash_error { 
	padding: 10px ; 
	margin: 10px 0 0 0;
	font-weight: bold;
	text-align: center;
 }
#flash_notice {
	background-color: #CFC; 
	border: dashed 1px #6C6; 
	color: #1E5F1D;
}
#flash_error { 
	background-color: #FCC; 
	border: dashed 1px #C66; 
	color:#9E0B0F;
}

.fieldWithErrors { display: inline; }
#errorExplanation { background-color: #FCC; border: solid 1px #C66; }