<%% title("Nova <%= singular_name.titleize %>") %>

<%% form_for @<%= singular_name %> do |f| %>	
  <%= render_form %>
  <div id="control_box">
    <%%= submit_tag "Salvar" %> | <%- if action? :index -%> <%%= link_to "Cancelar", <%= plural_name %>_path %> <%- end -%>
  </div>   
<%% end %>


