<%% title("Site#index") %>
<div class="box-header">
  <h1>Primeiros passos</h1>
</div>
<div class="box">
  <ul>
	  <li>
	    <h2>Edite este layout em app/views/layouts/site.html.erb</h2>
	    <p>Crie seu layout, altere o logo e estilos.</p>
	  </li>
	  <li>
	    <h2>Edite esta página em app/views/site/index.html.erb</h2>
		<p>Crie sua página inicial.</p>
	  </li>
	  <li>
	    <h2>Gere o cadastro de usuários e autenticação</h2>
		<p>rails g flexi_auth</p>
		<p>rake db:migrate</p>
		<p>rake db:seed</p>
	  </li>	
	  <li>
		<h2>Depois acesse a área administrativa <a href="/admin">aqui</a></h2>
		<p>Usuário: admin</p>
		<p>Senha: admin123</p>
	  </li>
  </ul>
</div>